body{
	font-size: 1.5em;
	color: rgb(4, 2, 29);
	background-image: url(/src/images/Artboard150x15070.png);
	background-color: rgba(1, 74, 102, 0.5);
	background-repeat: repeat;
	margin: 0;
}

*{
	box-sizing: border-box;
}

.fixed{
	background: linear-gradient(
		45deg,
		#0370AD 0%,
		#00012A 75%
	);
	position: fixed;
	top: 0;
	transition: 0.3s;
	width: 100%;
	color: rgb(235, 235, 235);
	z-index: 5;
}
.columnFlex{
	display: flex;
	flex-direction: column;
}

#ref{
	font-size: 0.7em
}
#reference{
	margin-bottom: 20px;

}

.grid{
	min-width:150px ;
	height: auto;
	opacity: .7;
	margin: -10px auto;
	padding-left: 10px;
	margin-right: -30px;
	display: grid;
	grid-template-rows: repeat(auto-fit,minmax(60px,1fr)) ;
	justify-items: center;
	grid-row-gap: 10px;
}

ul{
	list-style: none;
}

img,p,h1,h2,h3,h4,a{
	margin: auto;
}


a{
	color: #000;
	text-decoration: none;
}

img{
	border-radius: 10px;
	margin-bottom: 10px;
	max-width: 100%;
}

p{
	margin: 10px;
}
.social{
	display: flex;
	flex-direction: row;
	justify-content: space-around;background: linear-gradient(
		-45deg,
		rgba(3, 111, 173, 0.8) 0%,
		rgba(0, 1, 42, 0.6) 85%
	);
	width: 100%;
	margin: 0px auto;
	padding-bottom: 20px;
}

.centerText{
	text-align: center;
}

.card{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
	background-color: #79BCD7;
	transition: 0.3s;
}

.card:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container{
	padding: 10px 16px;
}

.topMargin{
	margin-top: 200px;
}
@media screen and (min-width: 600px){
	.grid {
		padding: 0 50px;
		width:950px ;
	}
}

 @media screen and (min-width: 800px){
    .grid {
      font-size: 30px;
	  padding: 20px;
	  margin: 0px auto;
	}
	img{
		align-self: center;
	}
	.social{
		width: 100%;
	}
	#reference{
		font-size: 30px;
	}
	.topMargin{
	margin-top: 130px;
}
}


